spring:
  application:
    name: infosec-1

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto:
    show-sql: true

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration-time: ${JWT_EXPIRATION}
